<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Mini Triage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css" media="screen" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.7.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-alert.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-collapse.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/event.js') }}"></script>
    <style type="text/css" media="screen">
      body { padding-top: 60px; }
      button.close {
        background: none repeat scroll 0 0 transparent;
        border: 0 none;
        cursor: pointer;
        margin: -10px -10px 0 0;
        padding: 0;
      }
      form {
        margin: 0;
      }
      .form-horizontal .control-group > label {
        width: 72px;
      }
      .form-horizontal .controls {
        margin-left: 90px;
      }
    </style>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
	<div class="container">
	  <a class="brand" href="/">Mini Triage</a>
	  <ul class="nav pull-right">
            <li><a href="#"><span id="conn_status" class="label">Not Connected</span></a></li>
	  </ul>
	</div>
      </div>
    </div>
    <div class="container">
      <section id="events">
        <div class="page-header">
   	  <h1>Events</h1>
        </div>
	<div class="row">
	  <div class="span3">
	    <h2>Incoming</h2>

            <div id="placeholder">
	      {% for event_id, event in events.iteritems() %}
	          {% if not event.category %}
	            {% include "event.html" %}
		  {% endif %}
	      {% endfor %}
	    </div>
	  </div>

	  {% for category in categories %}
  	    <div class="span3">
	      <h2>{{ category }}</h2>

              <div id="{{ category }}">
	        {% for event_id, event in events.iteritems() %}
		  {% if event.category == category %}
		    {% include "event.html" %}
		  {% endif %}
	        {% endfor %}
	      </div>
	    </div>
	  {% endfor %}
	</div>
      </section>
    </div>
  </body>
</html>
